# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
scratch
scratch.exe

# DUB
.dub
docs.json
__dummy.html

#sublime
neuralnet.sublime-project
neuralnet.sublime-workspace

# Code coverage
*.lst

# profile stuff
trace.*

#project files
Weights.dat